{% macro displayNewsList(news_list) %}

    {% for article in news_list %}
        <div class="container p-3 w-100" style="overflow-x: hidden;">
	<div class="col p-3">
		<div class="card p-3">
			<img src="{{article.urlToImage}}" alt="" />
			<div class="card-body">
				<h3 class="card-title">{{article.title}}</h3>
				<p class="card-text lead">{{article.description}}</p>
				<p class="card-text fs-4">{{article.content}}</p>
				<p class="card-text text-center">{{article.publishedAt}}</p>
				<a
					href="{{article.url}}"
					class="card-text text-center text-decoration-none"
				>
					<!--                        <button type="button" class="btn btn-info">Go to article</button>-->
					<div class="d-grid gap-2  col-6 mx-auto">
						<button class="btn btn-outline-success btn-lg " style="margin-bottom: 2%;" type="button"
							>Go to article</button
						>
						
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
        <!-- <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <img src="{{ article.urlToImage }}" alt="{{ article.title }} poster" class="img-responsive">
            <li class="text-center">
             
                    {{ article.title}}
                  
            </li>
              {{ article.publishedAt }}
            <button><a href="{{article.url}}">Read More</a></button>
        </div> -->

    {% endfor %}

{% endmacro %}